.itemCard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 500px;
}

.rocketName {
    color: #0084c9;
}

.imageContainer {
    max-width: 250px;
}

.imageContainer img {
    width: 100%;
}